.user-navigation{
	display:flex;
	margin:0;
	padding:0;
}
.user-navigation li{
	list-style-type:none;
}
@media (min-width: 768px){
	.user-navigation{
		align-items:center;
		min-width:50px;
		height:100%;
	}	
}
@media (min-width: 1200px){
	.user-navigation{
		width:260px;
		position:relative;
		justify-content:flex-end;
		
	}	
}