.main-advantages__slide-wrapper{
	position:relative;
	height:auto;
	width:100%;
	margin:0;
	padding:155px 20px 0px 20px;
	display:flex;
	box-sizing:border-box;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.main-advantages__slide-wrapper::before{
	position:absolute;
	top:20px;
	left:calc(50%-42.5px);
	width:95px;
	height:95px;
	padding:0;
	margin:0;
	content:"";
	background-image: url(../images/advantage-1-illustration.svg);
    background-position: top center;
    background-repeat: no-repeat;
	background-size:contain;
}