.main-advantages__slide-wrapper_third::before{
	background-image: url(../images/advantage-3-illustration.svg);
    background-position: top center;
    background-repeat: no-repeat;
	background-size:contain;
}